@use "sass:color";


/* Testing the grid */
.block {
  display: grid;
  align-items: center;
  justify-items: center;
  /* font-size: 2rem; */
  height: 4rem;
  color: #333;
  background: rgb(67, 217, 223);
}


/* General styles */
$brand: #ce973e;
$text-color: #4a4a4a;
$text-color-light: #828282;
$font-stack: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

:root {
  --brand: #ce973e;
}

body {
  color: $text-color;
  font-family: $font-stack;
}

p {
  line-height: 1.75;
}

.link-primary {
  color: $brand;

  &:hover {
    color: black;
    text-decoration: none;
  }
}

.link-secondary {
  @extend .link-primary;
  color: $text-color-light;
}

.link-reset,
.link-reset:hover {
  color: inherit;
  text-decoration: none;
}

@mixin shadow {
  box-shadow: 0 0 5px 2px rgba(0,0,0,0.1);
}


/* Prototyping helper */
// *:not(a) {
//   border: 1px solid skyblue;
// }


/* Top bar */
.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  padding-left: 1rem;

  @media (min-width: 768px) {
    & {
      position: relative;
      padding: 1rem;
    }
  }
}

.nav-links {
  display: none;
  grid-auto-flow: column;
  align-items: center;
  gap: 1rem;

  @media (min-width: 768px) {
    & {
      display: grid;
    }
  }
}

.nav-link {
  color: $text-color-light;
  font-weight: bold;

  &:hover {
    color: black;
    text-decoration: none;
  }
}

.nav-vert-bar {
  width: 2px;
  height: 2rem;
  background-color: $text-color-light;
}

.nav-profile {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 2rem;
  width: 2rem;
  border-radius: 100%;
  background-color: $brand;
  color: white;
}

.nav-menu {
  border: none;
  background-image: url("assets/odin-project-menu.png");

  @media (min-width: 768px) {
    display: none;
  }
}





/* Article */
.article {
  padding: 6rem 1rem 1rem;

  @media (min-width: 768px) {
    & {
      padding: 1rem;
    }
  }
}


/* Article banner */
.banner__link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner__img {
  height: 120px;
  width: 120px;
  border-radius: 100%;
  border: 0.5rem solid rgb(102, 184, 102);
  margin: 1rem;
  @include shadow;
}

.banner__category {
  font-size: 2rem;
  font-weight: 100;
}

.banner__title {
  text-align: center;
  color: $brand;
  text-transform: uppercase;
  font-size: 1.2rem;
}


/* Article Aside */
.aside {
  display: none;
}
@media (min-width: 768px) {
  .aside {
    display: block;
  }
}

.aside__nav-link {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  color: $text-color;

  &:hover {
    color: black;
    text-decoration: none;
  }

  &::before {
    content: "";
    display: inline-block;
    height: 0.8rem;
    width: 0.8rem;
    border-radius: 100%;
    margin-right: 0.5rem;
    background-color: #444;
  }
}

/* Article Main */
.article-heading {
  padding-top: 2rem;
}

/* Post-article section */
.article-functions {
  background-color: #eee;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

/* Bottom Nav */
.bottom-nav {
  @include shadow;
  display: grid;
  gap: 1rem 3rem;
  padding: 1rem 3rem;
  background: white;

  @media (min-width: 768px) {
    & {
      grid-auto-flow: column;
    }
  }
}

.bottom-nav__button {
  @include shadow;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $brand;
  font-size: 1rem;
  font-weight: 700;
  line-height: 3;
  border-radius: 0.25rem;
  border: none;

  &:hover {
    color: white;
    background-color: color.adjust($brand, $lightness: 10%);
  }
}

.bottom-nav__button-complete {
  @extend .bottom-nav__button;
  $primary: #6abfc3;
  background-color: $primary;

  &:hover {
    background-color: color.adjust($primary, $lightness: 10%);
  }
}

/* Article functions CTAs */
.github-cta {
  padding: 1rem;
  font-size: 1.1rem;
  text-align: center;

  .fa-github {
    margin-right: 0.25rem;
  }
}

.community-cta {
  text-align: center;
  padding: 4rem 2rem;
  color: #777;
  display: grid;
  gap: 0.5rem;
}

.community-cta__heading {
  font-size: 1.8rem;
  font-weight: 300;
}

.community-cta__sub-heading {
  font-size: 1.1rem;
}



/* Footer */
.footer {
  background: white;
  height: 100px;

  display: grid;
  grid-auto-flow: column;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
}

.footer-logo {
  display: none;
  
  @media (min-width: 768px) {
    & {
      display: block;
      padding: 5rem 0;
    }
  }
}

.social-links {
  font-size: 1.75rem;
}

.footer-nav {
  display: none;

  @media (min-width: 576px) {
    display: block;
  }
}